/* //custom fonts  */
  @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
  



@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';



/* Custom styles or other CSS imports */
  body{
    /* background-color: #C9A4C6; */
    /* background-color: #EFBCCD; */
    background-color: #EFBCCD;
  }
@font-face {
    font-family:'Bebas Neue' ;
    src: url('/fonts/BebasNeue-Regular.ttf');
}



