/* //moile styles// */

#logo-image{
    display: inline-block
}



/* ///date scroller/// */

.date-scroll-container {
    white-space: nowrap;
    overflow: hidden;
    width: 100%
}


.date-scroll-container > div {
    display: inline-block;
    margin-right: 10px;
    /* padding: 0 20 px; */
    animation: scrollLeft 20s linear infinite;
    white-space: nowrap
}

@keyframes scrollLeft {
    0% {
        tranform: translateX(100%)
    }
    100% {
        transform: translateX(-100%);
    }
}













/* //////////////ASSETS PAGE///////////////// */
#darken-hover {
    filter:brightness(100%);
    transition: filter 0.3s ease
}
#darken-hover:hover {
    filter:brightness(50%)
}

#hidden-text {
    visibility: hidden;
}
.group:hover #hidden-text {
    visibility: visible;
}





@media (width: 375px) and (max-height: 667px)
and (height: 667px) 
and (-webkit-device-pixel-ratio: 2) {
    /* ////FONT///// */
    .bebasFont {
        font-size: 16px
    }

    .container {
        display: flex;
        justify-content: center;
    }

    .nav-list {
        display: flex;
        padding: 0;
        display: flex;
        justify-content: space-around;
        width: 100%;
    }

    .nav-list li {
        margin:0 10px;
    }
    
}

@media (min-width: 1200px) { 
    #assest-container .columns-3 {
        display: none;
        
    }
    
 }


@media screen and (max-width:768px){
    #logo-image {
        width: 24px;
        height: 24px
    }
}