/* //moile styles// */



/* ////FONT///// */
@media (width: 375px) 
and (height: 667px) 
and (-webkit-device-pixel-ratio: 2) {
    .bebasFont {
        font-size: 16px
    }

    .container {
        display: flex;
        justify-content: center;
    }

    .nav-list {
        display: flex;
        padding: 0;
        display: flex;
        justify-content: space-around;
        width: 100%;
    }

    .nav-list li {
        margin:0 10px;
    }
}

